* {
    box-sizing: border-box;
}

body {
    background-image: url("img/pattern_sitio.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: "Zain", sans-serif;
}

#cabecera {
    background-image: url("img/patter_inicio.png");
    background-size: cover;
    background-position: center;
    background-color: #518773;
    background-blend-mode: multiply;
    background-position-y: 390px;
    color: beige;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inicio {
    text-align: center;
    display: inline-block;
    padding: 5px 0;
    margin: 0 auto;

}

.inicio h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #198460;
}

.inicio p {
    font-size: 25px;
    font-style: italic;
    color: #198460;
}

.botonera nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.botonera ul {
    list-style: none;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.botonera a {
    text-decoration: none;
    color: beige;
    background-color: #198460;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #198460;
    transition: all 0.3s ease;
}

.botonera a:hover {
    background-color: beige;
    color: #198460;
}

main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

section {
    max-width: 950px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

section h2 {
    font-size: 28px;
    color: #198460;
    margin-bottom: 15px;
    padding-left: 40px;
}

.imagen-sobremi {
    float: left;
    margin-right: 25px;
    margin-top: -10px;
    margin-left: 35px;
    margin-bottom: 20px;
    border-radius: 7%;
}

#sobremi p {
    font-size: 18px;
    line-height: 1.4;
    margin-right: 20px;
    margin-top: 20px;
}

#estudios article {
    margin-bottom: 35px;
    margin-left: 40px;
    line-height: 30px;
    margin-top: 38px;
    align-items: baseline;
}

#estudios h3 {
    font-size: 25px;
    margin-bottom: 5px;
    color: #198460;
}

#estudios h4 {
    font-size: 20px;
}

#estudios p {
    font-size: 20px;
}

#portfolio h1 {
    font-size: 22px;
    color: #555;
    margin: 10px 0;
}

#contacto p {
    font-size: 16px;
}

footer {
    background-color: #198460;
    color: beige;
    text-align: center;
    padding: 1px;
    font-size: 19px;
}

.orden-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.proyecto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.proyecto img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.proyecto h3 {
    color: #198460;
    font-size: 20px;
    margin-bottom: 10px;
}

.proyecto p {
    font-size: 20px;
    line-height: 1.5;
    color: #444;
}

.proyecto a {
    color: #198460;
    font-size: 20px;
}

#contacto article {
    margin-bottom: 20px;
    margin-left: 42px;
    line-height: 15px;
    margin-top: -8px;
    font-size: 20px;
}

#contacto p {
    font-size: 20px;
}

#contacto a {
    color: #198460;
}